# Exclude files

# Exclude folders
/vim/*

# Include abolish.vim, but not others.
# https://stackoverflow.com/a/5534865/2400133
!/vim/after/
/vim/after/*
!/vim/after/plugin/
/vim/after/plugin/*
!/vim/after/plugin/abolish.vim
